{{!-- <div class="card post">
    <div class="card-content">
        <h6 class="title">
            {{title}}
        </h6>
         <p class="subtitle">
            {{user.username}}
            Created at {{format_date created_at}}
        </p>
        <footer class="card-footer">
        <a class="card-footer-item" href="/posts/{{id}}">View</a>
        </footer>
    </div>      
</div> --}}


<div class="card column is-one-fifth has-background-info m-2">
  <header class="card-header">
    <p class="card-header-title has-background-link-dark has-text-white">
      {{title}}
    </p>
  </header>
  <div class="card-content has-background-link-light	">
    <div class="content">
      {{content}}
      <br>
      <time>{{format_date created_at}}</time>
      <p>By: {{user.username}}</p>
    </div>
  </div>
  <footer class="card-footer ">
    <a href="/posts/{{id}}" class="card-footer-item has-text-white">View</a>
  </footer>
</div>