
<div class="container">

<div class="post-list columns is-multiline">
{{#if posts.length}}

{{#each posts as |post|}}

<div id={{id}} class="card column is-one-fifth has-background-info m-2">
  <header class="card-header">
    <p class="card-header-title has-background-link-dark has-text-white">
      {{title}}
    </p>
  </header>
  <div class="card-content has-background-link-light	">
    <div class="content">
      <p>{{content}}</p>
      <br>
      <time>{{format_date created_at}}</time>
    </div>
  </div>
  <footer class="card-footer ">
    <a href="/posts/{{id}}" class="card-footer-item has-text-white">View</a>
    {{!-- {{#if user.id = user_id  }} --}}
    <button id='e{{id}}' class="edit-button edit-post-modal-trigger card-footer-item has-text-white button is-info" data-target="edit-post-modal">Edit</button>
    <button id="d{{id}}" class="card-footer-item has-text-white delete-button button is-info">Delete</button>
    {{!-- {{/if}} --}}
  </footer>
  </div>

{{/each}}
{{/if}}
</div>
<div class="has-text-centered">
<button class="button post-modal-trigger is-link is-large" data-target="post-modal">Make a Post</button>
</div>
</div>

{{!-- >
<button class="button post-modal-trigger is-link is-large" data-target="post-modal">Make a Post</button>
</div> --}}

<div class="modal" id="post-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="post-form" id="add-post">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input type="text" id="post-title" />
            </div>
        </div>
        <div class="field">
        <label class="label">Text Content</label>
        <div class="control">
            <textarea id="post-content"></textarea>
        </div>
    </div>
    <div class="field">
    <div class="control">
   <button class='button' type="submit">Submit</button>
   </div>
   </div> 
</form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


<div class="modal" id="edit-post-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <form class="post-form" id="edit-post">
        <div class="field">
            <label class="label">New Title</label>
            <div class="control">
                <input type="text" id="edit-title" />
            </div>
        </div>
        <div class="field">
        <label class="label">New Text Content</label>
        <div class="control">
            <textarea id="edit-content"></textarea>
        </div>
    </div>
    <div class="field">
    <div class="control">
   <button  id='edit-button' class='button' type="submit">Submit</button>
   </div>
   </div> 
</form>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>





<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit.js"></script>
<script src="/javascript/delete.js"></script>
